<div class="container">
    <form *ngIf="!formIsSubmitted" #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm)">
        <div class="form-group shorter-input-box">
            <input type="text"
                id="rsoName"
                class="form-control"
                name="rsoName"
                ngModel
                required
                placeholder="University Name"
            />
        </div>
        <div class="form-group shorter-input-box">
            <input type="text"
                id="description"
                class="form-control"
                name="description"
                ngModel
                required
                placeholder="Description"
            />
        </div>
        <div class="form-group shorter-input-box">
            <input type="text"
                id="loc"
                class="form-control"
                name="loc"
                ngModel
                required
                placeholder="Location"
            />
        </div>
        <div class="text-center shorter-input-button">
            <button
                class="btn btn-primary btn-block"
                type="submit"
                [disabled]="!registrationForm.valid">
                Submit
            </button>
        </div>
    </form>
</div>